* {
    box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: "Playfair Display SC";
    font-weight: bold;
    color:black;
    background-size:cover;
}


.articleTitle{
    display: flex;
    flex-flow: column;
    color: black;
    width: 80%;
    height: auto;
    margin:auto;
    text-align: center;
}

.articleTitle #inBeauty {
    padding:  20px  40px;
    color: rgb(209, 28, 28);
}

.articleTitle #title {
    padding: 20px;
    font-size: 50px;
    font-family: "Playfair Display SC";
    font-weight: 180;
}

.articleTitle #articleDate {
    padding: 20px;

}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: column;
    align-items: center;
    font-family: "Playfair Display SC";
    font-weight: 50;
}

.content div {
    width: 80%;
}

.content #firstImage {
    width: 100%;
}

.content #secondImage {
    width: 100%;
}

.content #header1 {
    font-weight: 200px;
}
.headerContiner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    font-family: "Playfair Display SC";
    font-weight: 50px;
    border: 0px;
}
 
.posts {
    display: flex;
    justify-content: center;
    font-weight: 10px;
}


.previousPost #previousPostTitle {
    font-size: 40px;
    padding-right: 60px;
    margin-bottom: 10px;
    font-family: "Playfair Display SC";
}

.nextPost #nextPostTitle {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Playfair Display SC";
}

.comments{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: column;
    align-items: center;
    font-family: "Playfair Display SC";
    font-weight: 50;
    margin-top: 100px;
}

h2 {
    margin-bottom: 1px;
}
.comments #commentsArea {
    width: 80%;
    height: 100px;
}

.dates {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    height: 50px;
    margin-bottom: 10px;
}

.dates #name {
    margin-right: 5px;
}

.dates #email {
    margin-right: 5px;
}

.comments #postButton {
    color: white;
    background-color: black;
    font-family: "Playfair Display SC";
    font-weight: 50px;
    width: 80%;
    height: 50px;
    border: 0px;
    margin-top: 10px;
}

logo {
    display: flex;
    justify-content: center;
}

.navBar {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin: 1px;
}

nav {
    background-color: rgb(5, 0, 0);
    width: 80%;
}

nav ul {
	display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float:inline-end;
    justify-content: center;
    font-style: normal;
    color: #ffffff;
    font-size: 14px;
}

nav ul li:first-child {
    border-left: 1px solid grey;
}
nav li {
    align-items: flex-end;
	font-size: 1rem;
	padding: 15px 15px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
    border-right: 1px solid grey;
    font-family: "Playfair Display SC";
    font-weight: 100;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    justify-content: space-between;
}

footer {
    background-color: black;
}
.footerDiv {
    display: flex;
    justify-content: center;
    width: 100%;    
    height: 200;
    color: white;
    margin-top: 40px;
    font-family: "Playfair Display SC";
}



.footerDiv .contact {
    width: 50%;
}

.buttonEffect:hover {
    background-color: white;

}

.buttonEffect:hover a, .buttonEffect:hover i {
    color: black !important;
}

.buttonEffectBorder:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    transition: 0.5s;
}

#searchPopUp {
    background: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

#searchPopUp.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.searchContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    padding: 50px;
}

.searchContainer input {
    font-size: 40px;
    border: unset;
    font-family: "Playfair Display SC";
    width: 800px;
    
}

.searchContainer input:focus-visible {
    outline:unset;
}

.searchContainer i {
    position: absolute;
    top: 6px;
    right: 10px;
    color: grey;
    cursor: pointer;
}

.searchContainer i:hover {
    color: black;
}

body.noScroll {
    overflow: hidden;
}

.socials a {
    color: white;
    font-size: 30px;
    margin: 10px;
}

